[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
robotframework-browser = "*"
install = "*"
robotframework-seleniumlibrary = "*"
robotframework-csvlibrary = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
